# APP CONFIG
NODE_ENV=
PORT=
APP_NAME=

# DATABASE CONFIG
DB_TYPE=
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

# DATABASE OPTIONAL (Dùng nếu có chuỗi kết nối đầy đủ)
# DB_URI=postgresql://admin:your_password_here@localhost:5433/kyc_asset_db?schema=public

# PGADMIN CONFIG
PGADMIN_EMAIL=
PGADMIN_PASSWORD=